body {
    text-align: center;
}

nav {
    background-image: url(../images/the-flatiron-building.png);
}

h1 {
    font-family: Helvetica;
    font-size: 70px;
    font-weight: bold;
    color: white;
}

nav ul {
   list-style-type: none;
}

nav ul li {
    font-family: Helvetica;
    font-size: 18px;
    color: white;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
}

p {
    font-family: Helvetica;
    font-size: 14px;
}

